{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="about-us">
        <div class="flex-col">
            <h1 class="title lh-1">
                <span style="color: #4682B4;">Human Factors</span> <br>
                in Computer Security
            </h1>            
        </div>
        <div class="quote flex-col">
            <p class="pt-5 text-start normal-font lh-1">Security is only as strong as its weakest link—often, the <span class="normal-font fw-bold">human element</span></p>
            <img src="{% static 'blog/images/Group 12.svg' %}" alt="SVG Image" class="img-fluid">
            <p class="pr-5 text-end normal-font lh-1">Understanding the <br> <span class="medium-font fw-bold">Human Behavior</span> <br> in Cybersecurity Threats</p>
        </div>
    </section>

    <section class="blog-posts">
        <h2>Blog Posts</h2>
        <div class="post-grid">
            {% for post in object_list %}
                <a href="{% url 'post_detail' post.slug %}" class="post-card">
                    <div class="post-image">
                        <img src="{{ post.banner_image.url }}" alt="{{ post.title }}">
                    </div>
                    <div class="post-title">
                        <h3>{{ post.title }}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}